{{define "productTmpl"}}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{.Meta}}">
    <!-- displays site properly based on user's device -->
<!--CSS-->
    <link rel="stylesheet" href="/assets/css/product_details.css" />
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/assets/css/flaticon.css">
    <link rel="stylesheet" href="/assets/css/slicknav.css">
    <link rel="stylesheet" href="/assets/css/animate.min.css">
    <link rel="stylesheet" href="/assets/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="/assets/css/themify-icons.css">
    <link rel="stylesheet" href="/assets/css/slick.css">
    <link rel="stylesheet" href="/assets/css/nice-select.css">
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
   


    
    <link
      href="https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap"
      rel="stylesheet"
    />

    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/assets/img/logo/logo.png"
    />

    <script defer src="/assets/js/productScript.js"></script>

    <title>Acuzio Wathes</title>

  </head>
  <body>
    <div class="body-wrapper"></div>




    <!-- Header -->
 <!--? Preloader Start -->
<!--? Preloader Start -->
<div id="preloader-active">
  <div class="preloader d-flex align-items-center justify-content-center">
      <div class="preloader-inner position-relative">
          <div class="preloader-circle"></div>
          <div class="preloader-img pere-text">
              <img src="/assets/img/logo/logo.png" alt="">
          </div>
      </div>
  </div>
</div>
<!-- Preloader Start -->

{{template "Navbar"}}
    <!-- Main item container -->
    <main class="item">
      <section class="img">
        <button class="img-main__btnlft img-main__btn" onclick="leftBtn()">
          <img
            src="/assets/img/icon-next.svg"
            alt="next symbol image"
            class="img-main__btnlft-img img-main__btn-img"
          />
        </button>
        <button class="img-main__btnrgt img-main__btn" onclick="rightBtn()">
          <img
            src="/assets/img/icon-next.svg"
            alt="next symbol image"
            class="img-main__btnrgt-img img-main__btn-img"
    
          />
        </button>
        <img src="/assets/img/watches/{{.Name}}/1.webp" alt="" class="img-main" onerror="mainImgError(this);"/>
        <div class="img-btns">
          {{range $val := Iterate .Images .Name}}
            {{template "buttonTmpl" .}}
          {{end }}
        </div>
      </section>

      <section class="price">
        <h2 class="price-sub__heading">ACUZIO WATCHES</h2>
        <h1 class="price-main__heading">{{.Title}}</h1>
        <p class="price-txt">
            {{.Description}}
        </p>
        <div class="price-box">
          <div class="price-box__main">
            <span class="price-box__main-new">{{.Currency}} {{.PriceWithDiscount}}</span>
            {{if .Discount}}
              <span class="price-box__main-discount">{{.Discount}}%</span>
            {{end}}
          </div>
          {{if .Discount}}
              <span class="price-box__old">{{.Price}}</span>
          {{end}}
        </div>
        <form action="/addToCart/{{.Id}}" method="POST" enctype="application/x-www-form-urlencoded">
        <div class="price-btnbox">
          <div class="price-btns">
            <button id="add" type="button" class="price-btn__add price-btn">
              <img
                src="/assets/img/icon-plus.svg"
                alt="plus sign"
                class="price-btn__add-img price-btn__img"
              />
            </button>
            <input id="count" class="price-btn_txt" type="number" value="1" min="1" name="count" readonly>
            <button id="remove" type="button" class="price-btn__remove price-btn">
              <img
                src="/assets/img/icon-minus.svg"
                alt="minus sign"
                class="price-btn__remove-img price-btn__img"
              />
            </button>
          </div>
          <button type="submit"  class="price-cart__btn" >
            <img
              src="/assets/img/icon-cart.svg"
              alt="cart image"
              class="price-cart__btn-img"
            />
            Buy
          </button>
        </div>
        </form>
      </section>
    </main>
    
    <footer>
      <!-- Footer Start-->
      <div class="footer-area footer-padding">
          <div class="container">
              <div class="row d-flex justify-content-between">
                  <div class="col-xl-3 col-lg-3 col-md-5 col-sm-6">
                      <div class="single-footer-caption mb-50">
                          <div class="single-footer-caption mb-30">
                              <!-- logo -->
                              <div class="footer-logo">
                                  <a href="/"><img src="/assets/img/logo/logo2_footer.png" alt=""></a>
                              </div>
                              <div class="footer-tittle">
                                  <div class="footer-pera">
                                      <p>We at Acuzio bring you quality watches for affordable prices. We believe that everyone has the right to dress sharp.</p>
                              </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="col-xl-2 col-lg-3 col-md-3 col-sm-5">
                      <div class="single-footer-caption mb-50">
                          <div class="footer-tittle">
                              <h4>Quick Links</h4>
                              <ul>
                                  <li><a href="/about">About</a></li>
                                  <li><a href="/shop"> Shop</a></li>
                                  <li><a href="/contact"> Contact</a></li>
                                  <li><a href="/cart">Your Cart</a></li>
                              </ul>
                          </div>
                      </div>
                  </div>
                  <div class="col-xl-3 col-lg-3 col-md-4 col-sm-7">
                      <div class="single-footer-caption mb-50">
                          <div class="footer-tittle">
                              <h4>Our favourite products</h4>
                              <ul>
                                  <li><a href="/product/0">Men's Watch of Choice</a></li>
                                  <li><a href="/product/1">Women's Watch of Choice</a></li>
                                  <li><a href="/product/2">Most popular</a></li>
                                  <li><a href="/product/3">Newest Arrival</a></li>
                              </ul>
                          </div>
                      </div>
                  </div>
                  <div class="col-xl-3 col-lg-3 col-md-5 col-sm-7">
                      <div class="single-footer-caption mb-50">
                          <div class="footer-tittle">
                              <h4>Support</h4>
                              <ul>
                                  <li><a href="mailto: acuzio@acuzio.store">Email: acuzio@acuzio.store</a></li>
                                  <li><a href="/contact">Contact us Directly</a></li>
                                  <li><a href="/contact">Report a Payment Issue</a></li>
                              </ul>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
    </footer>
    <script src="/assets/js/vendor/modernizr-3.5.0.min.js"></script>
    <!-- Jquery, Popper, Bootstrap -->
    <script src="/assets/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="/assets/js/popper.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <!-- Jquery Mobile Menu -->
    <script src="/assets/js/jquery.slicknav.min.js"></script>
  
    <!-- Jquery Slick , Owl-Carousel Plugins -->
    <script src="/assets/js/owl.carousel.min.js"></script>
    <script src="/assets/js/slick.min.js"></script>
  
    <!-- One Page, Animated-HeadLin -->
    <script src="/assets/js/wow.min.js"></script>
    <script src="/assets/js/animated.headline.js"></script>
    <script src="/assets/js/jquery.magnific-popup.js"></script>
  
    <!-- Scrollup, nice-select, sticky -->
    <script src="/assets/js/jquery.scrollUp.min.js"></script>
    <script src="/assets/js/jquery.nice-select.min.js"></script>
    <script src="/assets/js/jquery.sticky.js"></script>
    
    <!-- contact js -->
    <script src="/assets/js/contact.js"></script>
    <script src="/assets/js/jquery.form.js"></script>
    <script src="/assets/js/jquery.validate.min.js"></script>
    <script src="/assets/js/jquery.ajaxchimp.min.js"></script>
    
    <!-- Jquery Plugins, main Jquery -->	
    <script src="/assets/js/plugins.js"></script>
    <script src="/assets/js/main.js"></script>
  </body>
 
</html>
{{end}}
